body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .first-content, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex:1;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

li {
    justify-self: flex-end;
}

.first-content, .second-content, .third-content, .fourth-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-content {
    padding: 20px 100px;
}

.first-content .container {
    flex: 1;
}

.image img {
    width: 400px;
    max-height: 200px;
}

.button1, .button2 {
    background-color: #3882F6;
    color: #E5E7EB;
}

.contents .second-content {
    flex-direction: column;
}

.images {
    display: flex;
    gap: 20px;
}

.images .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.third-content {
    background-color: #E5E7EB;
    flex-direction: column;
}

#name {
    align-self: flex-end;
    font-weight: 900;
}

.fourth-content {
    background-color: #3882F6;
}

.fourth-content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
}

img {
    width: 400px;
    max-height: 200px;
}


